.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 60px;
    background-color: $headerBackground;
}


.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_items {
    margin-left: 40px;
    color: blanchedalmond;
    padding-top: 20px;
}

